h1 {
    font-family: 'recursive';
    font-size: 6rem;
    text-align: center;
    background: linear-gradient( -80deg, rgb(236, 90, 114),purple, rgb(248, 45, 45), blue, green, aqua, yellow);
    background-size:  400% 400%;
    background-position: 100%;
    animation: gradient 20s ease infinite;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}


.background {
    background: linear-gradient( -80deg, rgb(240, 62, 91),purple, rgb(247, 57, 57), blue, green, aqua, yellow);
    background-size:  400% 400%;
    background-position: 100%;
    animation: gradient 20s ease infinite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes gradient {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 90%;
    }

    100% {
        background-position: 0%;
    }
}


/* gradient tips and effects for animation from youtube video by Colt Steele */
