.aboutMe {
    width: 100%;
    height: 100vh;
    margin-bottom: 5%;
    .aboutMeText {
        width: 55%;
        margin-top: 10%;
        margin-left: 20%;
        padding: 5px 25px;
        border-left: 4px solid white
    }
}


.portrait{
    position: relative;
    width: 55%;
    margin-left: 35%;
    img{
        border-radius: 35px;
    }
    p{
        position:absolute;
        right: -5%;
        bottom: -5%;
        background-color: aqua;
        width: 150px;
        height: 150px;
        border: 2px solid rgb(251, 25, 93);
        border-radius: 100px;
        text-align: center;
        padding-top: 6%;
        a {
            color: rgb(251, 25, 93);
            font-family: "changeling-neo", sans-serif;
            font-weight: 400;
            font-size: 2.2rem;
            text-transform: uppercase;
            &:hover{
                color:black;
            }
            &:focus{
                color:black;
            }
            &:active{
                color:black;
            }
        }
    }
}


.parentContainer {
    position: relative;
    width: 100%;
    margin-bottom: 10%;
    h2 {
        position: relative;
        z-index: 9;
    }
    .aboutMePositions{
        position: absolute;
        top: 5%;
        left: 3%;
        .folderShape{
            width: 30%;
        }
    }
}