footer {
    margin-top: 10%;
}

.footerContainer {
    background-image: url(../../assets/BLASTER_Gradient_9.jpg);
    background-size: cover;
    border-radius: 40px 40px 0px 0px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .oldIcons {
        width: 33.3%;
        padding: 50px;
        @media(max-width: 890px){
            display: none;
        }
    }
    .photoContainer{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        object-fit: contain;
        img{
            object-fit: contain;
            width: 50%;
        }
        @media(max-width: 890px){
            display: none;
        }
    }
}

.followIcons{
    margin-top: 4%;
    ul{
        width: 33.3%;
        display: flex;
        list-style-type: none;
    }
    li {
        padding: 20%;
    }
    a {
        color: white;
        font-size: 3rem;
        padding: 25px;
        &:hover {
            color: rgb(255, 0, 119);
        }
    }
    @media(max-width: 890px){
            margin: 0 auto;
            padding: 0;
        }
}