.secondGradient {
    position: relative;
    .secondGradientImg {
        z-index: -1;
        position: absolute;
        top: -20px;
        right: -20px;
        border-radius: 25px;
        width: 65%;
    }
}
.landingPageContainer {
    display: flex;
    margin-bottom: 150px;
}

.leftLanding {
    
    .intro{
        font-family: interstate, sans-serif;
        font-weight: 700;
        color: white;
        font-size: clamp(1.5rem, 1.2vw);
        max-width: 300px;
        max-height: 300px;
        padding: 25px;
        border-left: 3px solid white;
    }
    
    .iconsBox {
        padding-left: 25px;
        
    }

}

