header {
    border-bottom: 3px solid white;
    z-index: 12;
}
.headerContainer {
    margin: 0 auto;
    max-width: 2000px;
    height: 80px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    .momoLogo,
    .contactLogo {
        width: 20%;
        max-width: 180px;
        object-fit: contain;
    }
    button {
        z-index: 11;
        background: none;
        color: white;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        font-size: 2rem;
    }
    nav {
        display: none;
    }
}

.hamburger {
    margin-top: 20px;
    position: fixed;
    z-index: 11;
}

.navHamburger {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: "letter-gothic-std";
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: white;
    font-size: clamp(3rem, 9vw, 10rem);
    padding: 5% 10% 10% 10%;
    margin: 0;
    z-index: 10;
    background: rgb(255,95,233);
    background:linear-gradient(90deg, rgba(255,95,233,1) 0%, rgba(234,250,0,1) 60%);
    background-position: cover;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    a{
        color:white;
        text-align: center;
    }
    ul {
        list-style-type: none;
        margin: 0 auto;
        li {
            list-style-type: none;
            text-align: center;
        }
    }
}
