//NAMER
.projects {
    width: 100%;
    margin: 0 auto;
    .appDeviceContainer{
        display: flex;
        img {
            width: 100%;
        }
    } 
    .appTextContainer {
        width: 50%;
        margin-left: 10%;
    }
    
}

.projectLinks {
    margin: 30px 5px 0px 0px;
    a{
        background-color: aqua;
    color: rgb(255, 0, 98);
    border: 3px solid rgb(255, 0, 98);
    font-family: "changeling-neo", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    padding: 3px;
    text-transform: uppercase;
    text-decoration: none;
    &:hover,
    &:focus {
        background-color: chartreuse;
    }
    
}
}

//namer app

.namerContainer {
    display: flex;
    @media (max-width: 890px) {
        display: block;
        margin-bottom: 40px;
        .appTextContainer{
            width: 80%;
        }
    }
}

.deliciousContainer {
    display: flex;
    text-align: right;
    margin-top: 8%;
    @media (max-width: 890px) {
        flex-direction: column-reverse;
        margin-top: 10%;
    }
    .appTextContainer {
        padding-top: 10%;
        padding-right: 10%;
        border-top: 9px solid rgba(38, 0, 255, 0.3);
        border-right:9px solid rgba(38, 0, 255, 0.3);
         @media (max-width: 890px) {
         border: none;
         text-align: left;
         width: 100%;
        }
    }
}

//That Genre app

.thatGenreContainer {
    display: flex;
    margin-top: 20%;
    @media (max-width: 890px) {
        flex-direction: column-reverse;
    }
    .appDeviceContainer{
        display: flex;
        img {
            width: 100%;
        }
    } 
    .appTextContainer {
        border-top: 9px solid rgba(38, 0, 255, 0.3);
        border-left:9px solid rgba(38, 0, 255, 0.3);
        padding: 5%;
        margin: 0;
        @media(max-width: 890px){
            border: none;
            width: 100%;
        }
    }
    .appDeviceContainer {
        width: 100%;
        margin-left: 5%;
    }
}

.ybsTours {
    margin-top: 10%;
    border-top: 9px solid rgba(38, 0, 255, 0.3);
    border-left:9px solid rgba(38, 0, 255, 0.3);
    padding: 5%;
    @media (max-width: 890px) {
        display: flex;
        flex-direction: column;
        border: none;
    }
    .appDeviceContainer {
        .ybsLaptop {
            width: 70%;
        }
        .ybsTablet {
            padding-top: 10%;
            width: 40%;
            @media (max-width: 890px) {
            display:none;
            }
        }
    }
    .appTextContainer {
        margin: 0;
        padding-left: 40px;
        @media (max-width: 890px) {
         text-align: left;
         width: 100%;
        }
    }
}



.iconBox4 {
    width: 45%;
    margin-left: 70%;
    padding: 0;
}


