form {
  width: 70%;
  margin: 0 auto;
}

.contact h2 {
  margin-left: 8%;
}

.formFlexContainer {
  display: flex;
}

.nameForm {
  margin-right: 20px;
}

.message {
  height: 350px;
}

.name,
.email,
.message {
  background-color: aqua;
  color: #ff0062;
  border: 6px solid #ff0062;
  font-family: "changeling-neo", sans-serif;
  font-weight: 400;
  font-size: 2.8rem;
  text-transform: uppercase;
  width: 100%;
  padding: 10px;
  margin: 10px;
}
.name::-moz-placeholder, .email::-moz-placeholder, .message::-moz-placeholder {
  opacity: 1;
}
.name:-ms-input-placeholder, .email:-ms-input-placeholder, .message:-ms-input-placeholder {
  opacity: 1;
}
.name::placeholder,
.email::placeholder,
.message::placeholder {
  opacity: 1;
}

.submit {
  border: 6px solid #ff0062;
  color: #ff0062;
  background-color: aqua;
  font-family: "changeling-neo", sans-serif;
  font-weight: 400;
  font-size: 2.8rem;
  text-transform: uppercase;
  width: 100%;
  padding: 10px;
  margin: 10px;
}
.submit:hover, .submit:focus {
  background: linear-gradient(89deg, #ff00bd, #ffe300, #00ff0a, #00ffeb);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 59s ease infinite;
  animation: AnimationName 10s ease infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.secondGradient {
  position: relative;
}
.secondGradient .secondGradientImg {
  z-index: -1;
  position: absolute;
  top: -20px;
  right: -20px;
  border-radius: 25px;
  width: 65%;
  min-width: 900px;
}

.landingPageContainer {
  display: flex;
  margin-bottom: 150px;
}
@media (max-width: 1165px) {
  .landingPageContainer {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media (max-width: 890px) {
  .landingPageContainer {
    flex-direction: column-reverse;
    width: 100%;
  }
}

.leftLanding .intro {
  font-family: interstate, sans-serif;
  font-weight: 700;
  color: white;
  font-size: clamp(0.8rem, 6vw, 1rem);
  padding: 25px;
  border-left: 3px solid white;
  max-height: 245px;
}
.leftLanding .iconsBox {
  padding-left: 25px;
  width: 80%;
}
@media (max-width: 890px) {
  .leftLanding .iconsBox {
    display: none;
  }
}
@media (max-width: 890px) {
  .leftLanding {
    display: flex;
    width: 98%;
  }
}

footer {
  margin-top: 10%;
}

.footerContainer {
  background-image: url(../../assets/BLASTER_Gradient_9.jpg);
  background-size: cover;
  border-radius: 40px 40px 0px 0px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footerContainer .oldIcons {
  width: 33.3%;
  padding: 50px;
}
.footerContainer .photoContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  -o-object-fit: contain;
     object-fit: contain;
}
.footerContainer .photoContainer img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 50%;
}

.followIcons {
  margin-top: 4%;
}
.followIcons ul {
  width: 33.3%;
  display: flex;
  list-style-type: none;
}
.followIcons li {
  padding: 20%;
}
.followIcons a {
  color: white;
  font-size: 3rem;
  padding: 25px;
}
.followIcons a:hover {
  color: #ff0077;
}

.aboutMe {
  width: 100%;
  margin-bottom: 5%;
}
.aboutMe .aboutMeText {
  width: 55%;
  margin-top: 10%;
  margin-left: 20%;
  padding: 5px 25px;
  border-left: 4px solid white;
}
@media (max-width: 890px) {
  .aboutMe .aboutMeText {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
  }
}

.portrait {
  position: relative;
  width: 55%;
  margin-left: 35%;
  z-index: 4;
  cursor: url(../../assets/yinyangCursor.png), auto;
}
@media (max-width: 890px) {
  .portrait {
    width: 90%;
    margin: 0 auto;
  }
}
.portrait:hover {
  background-image: url(../../assets/moGlitch.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 35px;
  z-index: 5;
}
.portrait:hover img {
  opacity: 0%;
}
.portrait img {
  border-radius: 35px;
}
.portrait p {
  position: absolute;
  right: -5%;
  bottom: -5%;
  background-color: aqua;
  width: 150px;
  height: 150px;
  border: 2px solid #fb195d;
  border-radius: 100px;
  text-align: center;
  padding-top: 7%;
}
@media (max-width: 890px) {
  .portrait p {
    display: none;
  }
}
.portrait p a {
  color: #fb195d;
  font-family: "changeling-neo", sans-serif;
  font-weight: 400;
  font-size: 3.2rem;
  text-transform: uppercase;
}
.portrait p a:hover {
  color: black;
}
.portrait p a:focus {
  color: black;
}
.portrait p a:active {
  color: black;
}

.parentContainer {
  position: relative;
  width: 100%;
  margin-bottom: 10%;
}

.aboutMePositions {
  position: absolute;
  top: 5%;
  left: 3%;
}
@media (max-width: 890px) {
  .aboutMePositions {
    position: relative;
  }
}
.aboutMePositions h2 {
  position: relative;
  z-index: 9;
}
@media (max-width: 320px) {
  .aboutMePositions h2 {
    display: block;
    margin-bottom: 20%;
  }
}
@media (max-width: 890px) {
  .aboutMePositions h2 {
    position: inherit;
  }
}
@media (max-width: 890px) {
  .aboutMePositions h2 {
    display: block;
  }
}
.aboutMePositions .folderShape {
  width: 30%;
}
@media (max-width: 890px) {
  .aboutMePositions .folderShape {
    display: none;
  }
}

header {
  border-bottom: 3px solid white;
  z-index: 12;
}

.headerContainer {
  margin: 0 auto;
  max-width: 2000px;
  height: 80px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.headerContainer .momoLogo,
.headerContainer .contactHeader {
  width: 20%;
  max-width: 180px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 890px) {
  .headerContainer .momoLogo,
.headerContainer .contactHeader {
    display: none;
  }
}
.headerContainer .contactLogo {
  margin-top: 10%;
}
.headerContainer button {
  z-index: 11;
  background: none;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 2rem;
}
.headerContainer nav {
  display: none;
}

.hamburger {
  margin-top: 20px;
  position: fixed;
  z-index: 11;
}

.navHamburger {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: "letter-gothic-std";
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: white;
  font-size: clamp(3rem, 9vw, 10rem);
  padding: 5% 10% 10% 10%;
  margin: 0;
  z-index: 10;
  background: #ff5fe9;
  background: linear-gradient(90deg, #ff5fe9 0%, #eafa00 60%);
  background-position: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.navHamburger a {
  color: white;
  text-align: center;
}
.navHamburger ul {
  list-style-type: none;
  margin: 0 auto;
}
.navHamburger ul li {
  list-style-type: none;
  text-align: center;
}

.projects {
  width: 100%;
  margin: 0 auto;
}
.projects .appDeviceContainer {
  display: flex;
}
.projects .appDeviceContainer img {
  width: 100%;
}
.projects .appTextContainer {
  width: 50%;
  margin-left: 10%;
}

.projectLinks {
  margin: 30px 5px 0px 0px;
}
.projectLinks a {
  background-color: aqua;
  color: #ff0062;
  border: 3px solid #ff0062;
  font-family: "changeling-neo", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  padding: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
.projectLinks a:hover, .projectLinks a:focus {
  background-color: chartreuse;
}

.namerContainer {
  display: flex;
}
@media (max-width: 890px) {
  .namerContainer {
    display: block;
    margin-bottom: 40px;
  }
  .namerContainer .appTextContainer {
    width: 80%;
  }
}

.deliciousContainer {
  display: flex;
  text-align: right;
  margin-top: 8%;
}
@media (max-width: 890px) {
  .deliciousContainer {
    flex-direction: column-reverse;
    margin-top: 10%;
  }
}
.deliciousContainer .appTextContainer {
  padding-top: 10%;
  padding-right: 10%;
  border-top: 9px solid rgba(38, 0, 255, 0.3);
  border-right: 9px solid rgba(38, 0, 255, 0.3);
}
@media (max-width: 890px) {
  .deliciousContainer .appTextContainer {
    border: none;
    text-align: left;
    width: 100%;
  }
}

.thatGenreContainer {
  display: flex;
  margin-top: 20%;
}
@media (max-width: 890px) {
  .thatGenreContainer {
    flex-direction: column-reverse;
  }
}
.thatGenreContainer .appDeviceContainer {
  display: flex;
}
.thatGenreContainer .appDeviceContainer img {
  width: 100%;
}
.thatGenreContainer .appTextContainer {
  border-top: 9px solid rgba(38, 0, 255, 0.3);
  border-left: 9px solid rgba(38, 0, 255, 0.3);
  padding: 5%;
  margin: 0;
}
@media (max-width: 890px) {
  .thatGenreContainer .appTextContainer {
    border: none;
    width: 100%;
  }
}
.thatGenreContainer .appDeviceContainer {
  width: 100%;
  margin-left: 5%;
}

.ybsTours {
  margin-top: 10%;
  border-top: 9px solid rgba(38, 0, 255, 0.3);
  border-left: 9px solid rgba(38, 0, 255, 0.3);
  padding: 5%;
}
@media (max-width: 890px) {
  .ybsTours {
    display: flex;
    flex-direction: column;
    border: none;
  }
}
.ybsTours .appDeviceContainer .ybsLaptop {
  width: 70%;
}
.ybsTours .appDeviceContainer .ybsTablet {
  padding-top: 10%;
  width: 40%;
}
@media (max-width: 890px) {
  .ybsTours .appDeviceContainer .ybsTablet {
    display: none;
  }
}
.ybsTours .appTextContainer {
  margin: 0;
  padding-left: 40px;
}
@media (max-width: 890px) {
  .ybsTours .appTextContainer {
    text-align: left;
    width: 100%;
  }
}

.iconBox4 {
  width: 45%;
  margin-left: 70%;
  padding: 0;
}

.skills h2 {
  margin-left: 30%;
}

.devIconsContainer {
  width: 100%;
}
.devIconsContainer .iconsList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  font-size: clamp(1rem, 10vw, 7rem);
  color: white;
  margin-top: 0;
  gap: 45px;
  padding-left: 0;
  list-style-type: none;
}
.devIconsContainer .iconsList i:hover {
  color: aqua;
}
.devIconsContainer .iconsList .iconImg {
  grid-column: 1/span 2;
  grid-row: 3/span 2;
  width: 100%;
}
@media (max-width: 890px) {
  .devIconsContainer .iconsList .iconImg {
    opacity: 0%;
  }
}

.wrapper {
  margin: 0 auto;
  width: 75%;
  max-width: 2050px;
}
@media (max-width: 1320px) {
  .wrapper {
    width: 90%;
  }
}

body {
  overflow-x: hidden;
  -webkit-animation: fade-in 2s ease-in;
          animation: fade-in 2s ease-in;
}

img {
  width: 100%;
}

.background {
  background: #ff93e1;
  background: linear-gradient(0deg, #ff93e1 0%, #c31975 30%, #4e02aa 66%, #91f3ff 100%);
  background-repeat: no-repeat;
}

h2 {
  font-family: "letter-gothic-std";
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: white;
  font-size: clamp(2rem, 9vw, 10rem);
  padding: 10%;
  margin: 0;
}

h3 {
  font-family: letter-gothic-std, monospace;
  font-weight: 400;
  font-size: 2.8rem;
  text-transform: uppercase;
  color: white;
}

p {
  font-family: letter-gothic-std, monospace;
  font-weight: 700;
  color: white;
}/*# sourceMappingURL=style.css.map */