form {
  width: 70%;
  margin: 0 auto;
}

.formFlexContainer {
  display: flex;
}

.nameForm {
  margin-right: 20px;
}

.message {
  height: 350px;
}

.name,
.email,
.message,
.submit {
  background-color: aqua;
  color: #ff0062;
  border: 6px solid #ff0062;
  font-family: "changeling-neo", sans-serif;
  font-weight: 400;
  font-size: 2.8rem;
  text-transform: uppercase;
  width: 100%;
  padding: 10px;
  margin: 10px;
}
.name::-moz-placeholder, .email::-moz-placeholder, .message::-moz-placeholder, .submit::-moz-placeholder {
  opacity: 1;
}
.name:-ms-input-placeholder, .email:-ms-input-placeholder, .message:-ms-input-placeholder, .submit:-ms-input-placeholder {
  opacity: 1;
}
.name::placeholder,
.email::placeholder,
.message::placeholder,
.submit::placeholder {
  opacity: 1;
}

.submit:hover,
:focus {
  background: linear-gradient(-45deg, #ee52d4, #e7dc3c, #23d5ab);
  -webkit-animation: gradient 5s ease infinite;
          animation: gradient 5s ease infinite;
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 20% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 20% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.secondGradient {
  position: relative;
}
.secondGradient .secondGradientImg {
  z-index: -1;
  position: absolute;
  top: -20px;
  right: -20px;
  border-radius: 25px;
  width: 65%;
}

.landingPageContainer {
  display: flex;
  margin-bottom: 150px;
}

.leftLanding .intro {
  font-family: interstate, sans-serif;
  font-weight: 700;
  color: white;
  font-size: clamp(1.5rem, 1.2vw);
  max-width: 300px;
  max-height: 300px;
  padding: 25px;
  border-left: 3px solid white;
}
.leftLanding .iconsBox {
  padding-left: 25px;
}

.aboutMe {
  display: flex;
}
.aboutMe .portrait {
  width: 60%;
  border-radius: 45px;
}
.aboutMe .shape {
  width: 200px;
}

header {
  border-bottom: 3px solid white;
}

.headerContainer {
  margin: 0 auto;
  max-width: 2000px;
  height: 80px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.headerContainer .momoLogo,
.headerContainer .contactLogo {
  width: 20%;
  max-width: 180px;
  -o-object-fit: contain;
     object-fit: contain;
}
.headerContainer button {
  background: none;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 2rem;
}
.headerContainer nav {
  display: none;
}

.wrapper {
  margin: 0 auto;
  width: 75%;
  max-width: 2050px;
}

body {
  overflow-x: hidden;
}

img {
  width: 100%;
}

.background {
  background: #ff93e1;
  background: linear-gradient(0deg, #ff93e1 0%, #c31975 30%, #4e02aa 66%, #91f3ff 100%);
  background-repeat: no-repeat;
}

h2 {
  font-family: "letter-gothic-std";
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: white;
  font-size: clamp(3rem, 9vw, 10rem);
  padding: 10%;
  margin: 0;
}

p {
  font-family: interstate, sans-serif;
  font-weight: 700;
  color: white;
}/*# sourceMappingURL=style.css.map */